In [104]:
import pandas as pd
from sqlalchemy import create_engine

In [105]:
pg_user='postgres'

pg_pass='123PostgreS'

pg_port='5432'

pg_dbname='covestrodb'

In [106]:
engine = create_engine('postgresql://%s:%s@localhost:5432/%s'%(pg_user, pg_pass, pg_dbname))

In [107]:
df_deal     = pd.read_csv('/Users/hienhan/Documents/GitHub/DE_assignment/data/deals.csv')
df_invite   = pd.read_csv('/Users/hienhan/Documents/GitHub/DE_assignment/data/invites.csv')
df_offer    = pd.read_csv('/Users/hienhan/Documents/GitHub/DE_assignment/data/offers.csv')
df_order    = pd.read_csv('/Users/hienhan/Documents/GitHub/DE_assignment/data/orders.csv')

In [108]:
df_deal.to_sql('deal', engine, schema='staging', if_exists = 'replace')
df_invite.to_sql('invite', engine, schema='staging', if_exists = 'replace')
df_offer.to_sql('offer', engine, schema='staging', if_exists = 'replace')
df_order.to_sql('order', engine, schema='staging', if_exists = 'replace')

KeyboardInterrupt:

In [ ]:
print(len(df_offer))

3159

In [ ]:
df_offer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3159 entries, 0 to 3158
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   offer_id                     3159 non-null   int64
 1   offer_created_at             3159 non-null   object
 2   offer_valid_from             3159 non-null   object
 3   offer_valid_until            3159 non-null   object
 4   offer_state                  3159 non-null   object
 5   offer_national_currency      3159 non-null   object
 6   offer_total_quantity_kg      3159 non-null   int64
 7   transaction_type             3159 non-null   object
 8   seller_user_id               3159 non-null   int64
 9   unit_price_nationalcurrency  3159 non-null   float64
dtypes: float64(1), int64(3), object(6)
memory usage: 246.9+ KB

In [ ]:
df_invite.info()
df_invite.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7362 entries, 0 to 7361
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   offer_id                     7362 non-null   int64
 1   invite_id                    7362 non-null   int64
 2   invite_created_at            7362 non-null   object
 3   invite_invitation_state      7362 non-null   object
 4   invite_state                 7362 non-null   object
 5   invite_first_viewed_at       2793 non-null   object
 6   invite_material_id           7362 non-null   int64
 7   invite_min_deal_quantity_kg  7362 non-null   float64
 8   invite_max_deal_quantity_kg  7362 non-null   float64
 9   selling_company_id           7362 non-null   int64
 10  buying_org_id                7362 non-null   int64
dtypes: float64(2), int64(5), object(4)
memory usage: 632.8+ KB

,offer_id,invite_id,invite_created_at,invite_invitation_state,invite_state,invite_first_viewed_at,invite_material_id,invite_min_deal_quantity_kg,invite_max_deal_quantity_kg,selling_company_id,buying_org_id
0,2578,2579,2019-03-27 16:19:55.012108+00:00,ORDERED,SOLD_OUT,2019-03-28 09:16:51.829000+00:00,82664050,0.0,48000.0,22,38
1,2582,2583,2019-03-27 16:27:28.288513+00:00,ORDERED,SOLD_OUT,2019-03-28 09:19:36.643000+00:00,82664050,0.0,64000.0,22,38
2,2584,2585,2019-03-27 17:05:48.696556+00:00,ORDERED,SOLD_OUT,2019-03-28 08:31:37.198000+00:00,82664050,0.0,256000.0,22,351
3,2598,2599,2019-04-01 06:44:49.314005+00:00,ORDERED,SOLD_OUT,2019-04-01 08:30:28.981000+00:00,82664050,0.0,96000.0,22,38
4,2602,2603,2019-04-01 06:51:13.381409+00:00,ORDERED,SOLD_OUT,2019-04-01 07:20:30.544000+00:00,82664050,0.0,96000.0,22,40

In [ ]:
df_deal.info()
df_deal.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2005 entries, 0 to 2004
Data columns (total 9 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   invite_id                       2005 non-null   int64
 1   deal_id                         2005 non-null   int64
 2   deal_created_at                 2005 non-null   object
 3   deal_status                     2005 non-null   object
 4   deal_material_id                2005 non-null   int64
 5   deal_quantity_kg                2005 non-null   float64
 6   deal_price_kg_nationalcurrency  2005 non-null   float64
 7   deal_valid_from                 2005 non-null   object
 8   deal_valid_to                   2005 non-null   object
dtypes: float64(2), int64(3), object(4)
memory usage: 141.1+ KB

,invite_id,deal_id,deal_created_at,deal_status,deal_material_id,deal_quantity_kg,deal_price_kg_nationalcurrency,deal_valid_from,deal_valid_to
0,2579,10400,2019-08-29 07:28:35.378599+00:00,EXPIRED,82664050,48000.0,2.35,2019-03-28 00:00:00+00:00,2019-03-29 00:00:00+00:00
1,2583,10401,2019-08-29 07:28:35.379594+00:00,EXPIRED,82664050,64000.0,2.35,2019-03-28 00:00:00+00:00,2019-03-29 00:00:00+00:00
2,2585,10403,2019-08-29 07:28:35.381611+00:00,EXPIRED,82664050,256000.0,2.28,2019-03-28 00:00:00+00:00,2019-03-29 00:00:00+00:00
3,2599,10407,2019-08-29 07:28:35.385613+00:00,EXPIRED,82664050,96000.0,2.35,2019-04-01 00:00:00+00:00,2019-04-02 00:00:00+00:00
4,2603,10405,2019-08-29 07:28:35.383640+00:00,EXPIRED,82664050,96000.0,2.15,2019-04-01 00:00:00+00:00,2019-04-02 00:00:00+00:00

In [ ]:
df_order.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1999 entries, 0 to 1998
Data columns (total 7 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   deal_id                          1999 non-null   int64
 1   order_id                         1999 non-null   int64
 2   order_created_at                 1999 non-null   object
 3   order_placed_at                  1999 non-null   object
 4   order_quantity_kg                1999 non-null   float64
 5   ordering_user_id                 1999 non-null   int64
 6   order_price_kg_nationalcurrency  1999 non-null   float64
dtypes: float64(2), int64(3), object(2)
memory usage: 109.4+ KB

In [ ]:
df_offer = df_offer[['offer_id','offer_state','offer_national_currency','unit_price_nationalcurrency']]
df_invite = df_invite[['offer_id','invite_id','invite_invitation_state','invite_material_id']]
df_deal = df_deal[['invite_id','deal_id','deal_status','deal_price_kg_nationalcurrency']]
df_order = df_order[['deal_id','order_id','order_created_at','order_quantity_kg','order_price_kg_nationalcurrency']]

In [ ]:
# Rename column
df_offer.columns = ['offer_id','offer_state','currency','offer_price']
df_invite.columns = ['offer_id','invite_id','invite_invitation_state','material_id'] # invite_material_id => material_id
df_deal.columns = ['invite_id','deal_id','deal_status','deal_price']
df_order.columns = ['deal_id','sales_key','sales_date','sales_quantity','order_price']

In [ ]:
df_offer.columns

Index(['offer_id', 'offer_state', 'currency', 'offer_price'], dtype='object')

In [ ]:

df_fact_sales = pd.merge(left=df_offer, right=df_invite, how='left', left_on='offer_id', right_on='offer_id' )
print(len(df_fact_sales))
df_fact_sales = pd.merge(left=df_fact_sales,right=df_deal, how='left', left_on='invite_id', right_on='invite_id' )
print(len(df_fact_sales))
df_fact_sales = pd.merge(left=df_fact_sales,right=df_order, how='left', left_on='deal_id', right_on='deal_id' )
print(len(df_fact_sales))
# Insight: Relation between deal:order is 1:many ???

7362
7362
7378

In [ ]:
df_fact_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7378 entries, 0 to 7377
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   offer_id                 7378 non-null   int64
 1   offer_state              7378 non-null   object
 2   currency                 7378 non-null   object
 3   offer_price              7378 non-null   float64
 4   invite_id                7378 non-null   int64
 5   invite_invitation_state  7378 non-null   object
 6   material_id              7378 non-null   int64
 7   deal_id                  2021 non-null   float64
 8   deal_status              2021 non-null   object
 9   deal_price               2021 non-null   float64
 10  sales_key                1999 non-null   float64
 11  sales_date               1999 non-null   object
 12  sales_quantity           1999 non-null   float64
 13  order_price              1999 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 864.6+ KB

In [ ]:
df_fact_sales['sales_stage'] = 'OFFER'

In [ ]:
df_fact_sales['sales_stage'] = 'OFFER'
df_fact_sales['sales_stage'][(df_fact_sales['offer_state'] is not None) & (1==1)] = 'OFFER'
df_fact_sales['sales_stage'][(df_fact_sales['deal_status'] is not None)] = 'DEAL'
df_fact_sales['sales_stage'][(df_fact_sales['invite_invitation_state'] is not None)] = 'INVITE'
df_fact_sales['sales_stage'][(df_fact_sales['sales_key'] is not None)] = 'ORDER'

/Users/hienhan/miniconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

KeyError: 'cannot use a single bool to index into setitem'

In [ ]:
df_fact_sales['sales_stage'] = 'OFFER' # ???
df_fact_sales.loc[ df_fact_sales["offer_state"].str.len() >0,               "sales_stage"] = "OFFER"
df_fact_sales.loc[ df_fact_sales["deal_status"].str.len() >0,               "sales_stage"] = "DEAL"
df_fact_sales.loc[ df_fact_sales["invite_invitation_state"].str.len() >0,   "sales_stage"] = "INVITE"
df_fact_sales.loc[ df_fact_sales["sales_key"].str.len() >0,                 "sales_stage"] = "ORDER"


df_fact_sales['sales_status'] = None # ???
df_fact_sales.loc[ df_fact_sales["offer_state"].str.len() >0,               "sales_status"] = 'OFFER_'    + df_fact_sales['offer_state']
df_fact_sales.loc[ df_fact_sales["deal_status"].str.len() >0,               "sales_status"] = 'DEAL_'     + df_fact_sales['deal_status']
df_fact_sales.loc[ df_fact_sales["invite_invitation_state"].str.len() >0,   "sales_status"] = 'INVITE_'   + df_fact_sales['invite_invitation_state']
df_fact_sales.loc[ df_fact_sales["sales_key"].str.len() >0,                 "sales_status"] = 'ORDER_COMPLETED' # ???

In [ ]:
df_fact_sales.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7378 entries, 0 to 7377
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   offer_id                 7378 non-null   int64
 1   offer_state              7378 non-null   object
 2   currency                 7378 non-null   object
 3   offer_price              7378 non-null   float64
 4   invite_id                7378 non-null   int64
 5   invite_invitation_state  7378 non-null   object
 6   material_id              7378 non-null   int64
 7   deal_id                  2021 non-null   float64
 8   deal_status              2021 non-null   object
 9   deal_price               2021 non-null   float64
 10  order_id                 1999 non-null   float64
 11  sales_date               1999 non-null   object
 12  sales_quantity           1999 non-null   float64
 13  order_price              1999 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 864.6+ KB

In [ ]:
df_fact_sales = df_fact_sales[['sales_key','sales_date','sales_quantity','material_id','sales_stage','order_price',
'deal_price','offer_price','currency','sales_status']]

In [ ]:
df_fact_sales.to_sql('fact_sales', engine, schema='model', if_exists = 'replace')

In [18]:
print(len(df_fact_sales))

7378